* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.icon {
  z-index: 9999;
}

.mb-sub {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.mb ul li {
  /* margin-bottom: 10px; */
  list-style: none;
  /* display: inline-block; */
  margin: 0 20px;
  margin-bottom: 20px;
  position: relative;
}
.mb ul li a {
  color: white;
  text-transform: uppercase;
}
.mb ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.mb ul li:hover::after {
  width: 100%;
}

.mb .close {
  text-align: right;
  font-size: 25px;

  color: white;
}

.mb {
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  top: 0;
  left: 0;

  right: 0;
  padding: 20px;

  transition: transform 0.3s ease;
  justify-content: start;

  bottom: 0;
  transform: translateX(100%);
  z-index: 2;
}

.trans {
  transform: translateX(0%);
}

.main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("bp4.jpeg");
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 36px;
  color: white;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  width: 120px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.content {
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;

  position: absolute;
  transform: translateY(-50%);
}
.content h1 {
  font-size: 88px;
  margin-top: 88px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  width: 200px;
  margin: 20px 10px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background: transparent;
  border: 3px solid rgb(255, 255, 255);
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
span {
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  border-radius: 10px;
  background: rgb(255, 255, 255);
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}

@media screen and (max-width: 1024px) {
  .content h1 {
    font-size: 8vw;
    margin-top: 88px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .navbar {
    width: 85%;
    /* margin: auto; */
    padding: 35px 0px;

    display: flex;
    align-items: center;

    justify-content: space-between;
  }

  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 15px;
    position: relative;
  }

  .logo {
    font-size: 0px;
  }

  .content p {
    margin: 20px auto;
    font-weight: 100;
    font-size: 15px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .logo {
    font-size: 28px !important;
  }
}

@media screen and (max-width: 728px) {
  .content {
    margin: 0;
    padding: 0px !important;
    /* background-color: red; */
  }
  .content h1 {
    font-size: 50px;
    margin-top: 0px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .navbar {
    display: none;

    /* transform: translateX(120%); */
  }

  .content p {
    margin: 20px auto;
    font-weight: 100;
    font-size: 15px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .icon {
    color: white;
    width: 100%;

    font-size: 30px;

    text-align: right;
    box-sizing: border-box;
    padding: 15px;
  }
}

@media screen and (max-width: 528px) {
  .content {
    padding: 0 10px !important;
  }
  .content h1 {
    font-size: 36px;
  }

  .content button {
    width: 130px;
    margin: 20px 10px;
    padding: 13px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: transparent;
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
  }
}

@media screen and (max-width: 328px) {
  .content {
    /* padding: ; */
    box-sizing: border-box;
    padding: 0 20px !important;
    /* margin-top: 20px; */
    /* background: red; */
  }
  .content h1 {
    font-size: 26px;
  }

  .content button {
    width: 150px;
    margin: 5px 10px;
    padding: 10px 0;

    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: transparent;
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
  }

  .content p {
    font-size: 13px;
    line-height: 20px;
  }
}

@media screen and (max-width: 285px) {
  .content {
    /* padding: ; */
    box-sizing: border-box;
    padding: 0 20px !important;
    /* margin-top: 20px; */
    /* background: red; */
  }
  .content h1 {
    font-size: 8vw;
  }

  .content button {
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    font-size: 5vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: transparent;
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
  }

  .content p {
    font-size: 4vw;
    line-height: 20px;
  }
}
